{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Graciela Chika Putri</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{%static 'MyProfile/style.css'%}" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{%static 'loading.js'%}"></script>
        <script src="{%static 'MyProfile/myprofile.js'%}"></script>
    </head>

<body onload="myFunction()" style="margin: 0;">
    <div id="loader"></div>
    <div style="display: none;" id="myDiv" class="animate-bottom">
       <div class = "mycontent">
            <div class="jumbotron">
                <h2 style="font-size:300%; text-align: center">My Book</h2>
            </div>
    
            <div class = "container">
                <h2 id= "jumlahBuku" style = "text-align: center"> My Favorite Book
                    <i class='fa fa-star'style = 'color : yellow'> </i>
                </h2>
                <table class = "table-responsive table table-hover table table-stripped" id = "tableBuku"> 
                </table>
            </div>
        </div>
        <br><br><br>
            <a href="tambahstatus.html">
                <button>Tambah Status</button>
            </a>    
            <a href="profil.html">
                <button>Profil</button>
            </a>    
            <a href="subscribe.html">
                <button>Subscribe</button>
            </a>
            <a href="login.html">
                <button>Login</button>
            </a>
    </div>
</body>
</html>