{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Graciela Chika Putri</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{%static 'js10.js'%}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{%static 'MyProfile/style.css'%}" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{%static 'loading.js'%}"></script>
    </head> 

<body onload="myFunction()" style="margin: 0;">
    <div id="loader"></div>
    <div style="display: none;" id="myDiv" class="animate-bottom">

    <div class = "mycontent">
        <div class="jumbotron">
            <h1 style="font-size : 50px" > Hello, Apa kabar? </h1>
        </div>
        <div class="container">
            <a href="index.html">
                <button>Status</button>
            </a>
            <a href="profil.html">
                <button>Profil</button>
            </a>
            <a href="book.html">
                <button>Book</button>
            </a>
            <a href="subscribe.html">
                <button>Subscribe</button>
            </a>
        <br>

        <section>
            <div class="row">
                <div class = "col-md-3">
                </div>
                <div class="col-md-6 col-md-offset-6">
                    <div class="form-regis">
                        <form id="form" method="POST" action = "{% url 'myapp:login' %}">
                            {% csrf_token %}
                            Username:<br>
                            <input type="text" name="username"><br>
                            Password:<br>
                            <input type="password" name="password"><br><br>
                            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>   
</body>
</html>