{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>Graciela Chika Putri</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="{%static 'MyProfile/style.css'%}" rel="stylesheet" type="text/css">
		<link href="{%static 'css/styl10.css'%}" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="{%static 'loading.js'%}"></script>
		<script src="{%static 'MyProfile/myprofile.js'%}"></script>
		<script src="{%static 'MyProfile/js10.js'%}"></script>
		<script src="{%static 'MyProfile/vendor/jquery.js'%}"></script>
		<script src="{%static 'MyProfile/vendor/what-input.js'%}"></script>
		<script src="{%static 'MyProfile/vendor/foundation.js'%}"></script>
	</head>
	
	<body onload="myFunction()" style="margin: 0;">
		<div id="loader"></div>
		<div style="display: none;" id="myDiv" class="animate-bottom">
		<div class = "jumbotron">
			<img src = "https://scontent.fcgk12-1.fna.fbcdn.net/v/t1.0-9/33147992_1508943735899972_6159831298375417856_n.jpg?_nc_cat=110&_nc_eui2=AeFFsbDIImIUM1YqrKIBXvDFn27KStXl-Z2j13WVaU4XeyROP5A2sJxfU6y0GpjS5WtUf14dRdCbcZmgCqo4VKUgvYmn1IDM3RQE28ZeaqmItQ&oh=2c5907ac39548f3da844c1b6e594c39e&oe=5C315A9A">
		</div>

    	<a href="tambahstatus.html">
        	<button>Tambah Status</button>
    	</a>	
		<a href="book.html">
        	<button>Book</button>
    	</a>	
		<a href="subscribe.html">
        	<button>Subscribe</button>
    	</a>
    	<a href="login.html">
        	<button>Login</button>
    	</a>
    	<br><br>

		<div class = "container">
			<button type="button" class="btn btn-info">Bisa Ganti Tema loohh!</button>
			<h1 id = "kotak" style="font-size: 20px">Aktivitas Saya</h1>
			<div id = "panel">
				<ul>
                	<li>Makan</li>
                	<li>Tidur</li>  
                	<li>Kuliah</li> 
                	<li>Rapat</li>
                	<br>
            	</ul>
			</div>

			<h1 id = "kotak2" style="font-size: 20px">Pengalaman Berorganisasi</h1>
			<div id = "panel2">
				<ul>
                	<br>
                	<li>Panitia Natal KMK UI</li>
                	<li>SENBUD DEM FASILKOM UI</li>  
                	<li>PEMIRA FASILKOM UI 2017</li>
                	<br>
            	</ul>
			</div>

			<h1 id = "kontak3" style="font-size: 20px">Prestasi</h1>
			<div id = "panel3">
				<ul>
                	<br>
                	<li>haha</li>
                	<li>haha</li>  
                	<li>haha</li> 
                	<li>haha</li>
                	<br>
            	</ul>
			</div>
		</div>

		<script>
			var myVar;

			function myFunction() {
    			myVar = setTimeout(showPage, 3000);
			}

			function showPage() {
  				document.getElementById("loader").style.display = "none";
  				document.getElementById("myDiv").style.display = "block";
			}
		</script>
	</div>
</body>
</html>