{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Graciela Chika Putri</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{%static 'js10.js'%}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{%static 'MyProfile/style.css'%}" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{%static 'loading.js'%}"></script>
    </head> 

<body onload="myFunction()" style="margin: 0;">
    <div id="loader"></div>
    <div style="display: none;" id="myDiv" class="animate-bottom">
    
    <div class = "mycontent">
        <div class="jumbotron">
            <h2 style="font-size:300%; text-align: center">Subscribe Registration</h2>
        </div>

        <a href="tambahstatus.html">
            <button>Tambah Status</button>
        </a>    
        <a href="profil.html">
            <button>Profil</button>
        </a>
        <a href="book.html">
            <button>Book</button>
        </a>
        <a href="login.html">
            <button>Login</button>
        </a>
        <br><br>
        
        <section>
            <div class="row">
                <div class = "col-md-3">
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-regis">
                        <form id="form" method="POST" action = "{% url 'myapp:add_subscriber' %}">
                            <br><br>
                            {% csrf_token %}
                            {{form}}
                            <br>
                            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">SUKSES !</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
    
                        <!-- Modal body -->
                        <div class="modal-body">
                            Data anda berhasil tersimpan ...
                        </div>
    
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>